body {
    background-color: gray;
    width: 100vw;
    height: 100vh;

    justify-content: center;
    align-items: center;
}

h1 {
    color: white;

}


#start-button {

    background-color: white;
    color: black;
    text-decoration: none;
    border-radius: 4px;
    border-color: gray;

}

/* Gallery button */

.gallery-button {
    float: right;
    width: 100px;

}



/*ta bort vertikal scrollbar*/
html {
    overflow: scroll;
    overflow-x: hidden;
}


#videoDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    min-width: 100vw;
}