body {
    background-color: #2A2E30;
    width: 100vw;
    height: 100vh;

    justify-content: center;
    align-items: center;
}

h1 {
    color: white;

}


#start-button {

    background-color: white;
    color: black;
    text-decoration: none;
    border-radius: 4px;
    border-color: gray;

}

/* Gallery button */

.gallery-button {
    float: right;
    width: 100px;

}



/*ta bort vertikal scrollbar*/
html {
    overflow: scroll;
    overflow-x: hidden;
}

/* Kamera placering */
#videoDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    min-width: 100vw;
}

/* Första sidan text */
.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 170px;
}


/* kamera icon första sidan */

.camIcon {
    width: 200px;
    height: auto;
}


/* Knapp på första sidan som tar dig vidare */
#start-button {
    width: 200px;
    height: auto;
    font-size: large;
    background-color: gray;
}

#galleri-text {
    color: white;
    font-size: 30px;

    align-items: center;
    text-align: center;
    letter-spacing: 0.5em;
    text-transform: uppercase;
    
}

/*Ta bild knappen i camera.html */
#take-picture {
    width: 280px;
    height: 25px;

    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 700;

    font-size: 16px;
    line-height: 22px;
    /* identical to box height */

    display: flexbox;
    align-items: center;
    text-align: center;
    letter-spacing: 0.3em;
    text-transform: uppercase;


}